@import "tailwindcss";

/* Better mobile scrolling */
html {
    -webkit-overflow-scrolling: touch;
}

/* Hide scrollbar but keep functionality */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

/* Smooth scrolling for main content */
main {
    scroll-behavior: smooth;
}

@keyframes progress {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.animate-progress {
    animation: progress 2s ease-in-out infinite;
}

@media screen and (max-width: 768px) {

    input,
    textarea {
        font-size: 16px;
    }
}